@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("../fonts/Lucida Sans Unicode.ttf");
@import url("../fonts/LucidaGrande.ttf");
@import url("../fonts/LucidaGrandeBold.ttf");
@font-face {
  font-family: 'Telefon Black';
  src: url("../fonts/TelefonTrial-Black.otf");
}

html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma, Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #fff;
}

li {
  list-style: none;
}

body {
  background-color: #131417;
  color: #fff;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.dark-blue-text {
  color: #0ebeff;
}

.light-blue-text {
  color: #76daff;
}

button {
  padding: 10px 16px;
  margin-right: 10px;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: normal;
}

h1 {
  font-family: "Telefon Black", Sans-Serif;
  line-height: 1.1;
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
  font-family: "Telefon Black", sans-serif;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

/* =============
     TOP BAR
  ============= */
#top-bar {
  height: 70px;
  padding: 10px;
  margin-bottom: 70px;
  padding: 1rem;
  padding-right: 0;
}

#top-bar form {
  display: flex;
}

#top-bar form [type="text"] {
  height: 40px;
  width: 100%;
  margin-right: .5rem;
  border-radius: 5px;
  border: 0px solid;
  padding: 0.4em;
  font-weight: bold;
  font-size: 1.3rem;
  text-indent: 2em;
  background-color: #252830;
}

#top-bar form [placeholder='Search Codepen...'] {
  color: #fff !important;
}

#top-bar form::placeholder {
  color: #fff;
}

#top-bar form button:nth-of-type(1) {
  color: #000000;
  background-color: #47cf73;
}

#top-bar form button:nth-of-type(2) {
  color: #fff;
  background-color: #444857;
}

/* ===========
      INTRO
   ===========*/
#intro {
  height: 500px;
  display: grid;
  padding: 45px 0;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

#not-media {
  color: inherit;
}

#not-media p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
  color: #c7c9d3;
}

#not-media p strong {
  color: #fff;
}

#not-media button {
  background-color: #47cf73;
}

#media {
  color: inherit;
  position: relative;
}

#media img {
  position: absolute;
  width: 600px;
  bottom: -480px;
  right: -90px;
  z-index: -10;
}

#back {
  width: 90%;
  height: 400px;
  border-radius: 15px;
  position: absolute;
  right: 0;
  background: linear-gradient(109.61deg, #4c4f5a 4.26%, #202125 84.84%);
}

.animated {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  background-color: #1d1e22;
  position: absolute;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#front div:nth-child(1) {
  top: -20px;
  right: 20px;
}

#front div:nth-child(2) {
  top: 130px;
  right: -30px;
}

#front div:nth-child(3) {
  top: 280px;
  right: 40px;
}

/* ==========
    FIRST ROW
 ============ */
#first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  padding: 45px 0;
}

#first-row .finz {
  background-color: #2c303a;
  border-radius: 5px;
  height: auto;
  padding: 20px 30px;
  margin: 30px 0;
  position: relative;
}

#first-row .finz img {
  transform: translateY(-50%);
  width: 75px;
  height: 75px;
  background: #131417;
  padding: 5px;
  border-radius: 10px;
}

#first-row .finz p {
  margin-bottom: 15px;
}

#first-row button {
  background-color: #444857;
  color: #c7c9d3;
}

/* =========
    3 x 2 GRID [[[[[[[[[[[**  HIDDEN  **]]]]]]]]]]]]]]]
 ========== */
#eg {
  visibility: hidden;
  position: absolute;
  top: -10000px;
}

#eg #user-work {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  grid-gap: 4rem 3rem;
  background-color: red;
}

#eg #user-work .sample {
  height: 300px;
  background-color: blue;
}

#eg #user-work .sample h3 {
  text-align: left;
}

#eg #user-work .sample p {
  text-align: left;
}

#eg #user-work .sample:nth-child(1) {
  background-color: #131417;
}

/* =============
    EXPLORING [[[[[[[[[[[**  HIDDEN  **]]]]]]]]]]]]]]]
================ */
#exploring {
  position: absolute;
  visibility: hidden;
  height: 750px;
  margin-bottom: 70px;
  padding: 10px 30px;
  overflow: hidden;
  /* The first list item */
}

#exploring > p {
  text-align: center;
}

#exploring > p:first child {
  font-size: 1.8rem;
  color: inherit;
}

#exploring ul {
  width: 30%;
  float: left;
  height: 610px;
}

#exploring h6 {
  font-weight: 700;
  font-size: 1.1rem;
}

#exploring li:first-child {
  background-color: #131418;
  border-radius: 5px;
  /* box-sizing: content-box; */
  padding: 15px 20px;
  width: 100%;
  margin: 0 0 0 -10px;
  padding-bottom: 1px;
}

#exploring li:first-child h6 {
  padding: 0;
  margin: 0;
}

#exploring #ss {
  width: 100%;
}

#exploring #desktop {
  float: right;
  width: 50%;
}

#exploring #desktop img {
  width: 80%;
}

#explore {
  color: inherit;
  /* another placeholder */
}

/*=======================
  FRAMEWORKS & LIBRARIES
=========================*/
#libraries {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.5em;
  padding: 75px 0;
  position: relative;
}

#libraries .lib {
  display: flex;
  flex-direction: column;
  height: 250px;
  background-color: #1e1f26;
  padding: 45px 20px 20px 20px;
  border-radius: 5px;
  position: relative;
  text-align: center;
  z-index: 100;
}

#libraries .lib h3 {
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  bottom: 0.6rem;
}

#libraries .lib img {
  width: 100%;
}

#libraries #lastlib {
  padding: 0;
  text-align: left;
  background-color: #131417;
  position: relative;
}

#libraries #lastlib p {
  text-align: left;
}

#libraries #lastlib span {
  position: absolute;
  bottom: 0;
  font-size: 1.1rem;
  font-weight: bold;
}

#libraries img:last-child {
  position: absolute;
  width: 900px;
  left: -100px;
  bottom: -70px;
  z-index: -10;
}

/*==========
   TEAM
===========*/
#teamwrap {
  padding: 45px 0;
}

#teamwrap #team {
  height: auto;
  text-align: center;
  padding: 45px;
  border-radius: 5px;
  background-color: #1e1f26;
}

#teamwrap #team p:first-of-type {
  width: 45%;
  text-align: center;
  margin: 0 auto 20px auto;
}

#teamwrap #team p:last-of-type {
  margin-top: 35px;
}

#teamwrap #team #companies {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

#teamwrap #team #companies img {
  padding: 15px;
}

#teamwrap #team button {
  background-color: #47cf73;
}

/*=============
    JOBS
=============
*/
#jobs {
  overflow: hidden;
  padding: 45px 0;
}

#jobs h5 {
  font-size: 1.4rem;
  font-weight: bold;
}

#jobs p {
  padding: 0 0 5px 0;
}

#jobs div:nth-child(1) {
  float: left;
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#jobs div:nth-child(1) h5 {
  margin-top: 25%;
}

#jobs div:nth-child(2) {
  float: right;
  width: 45%;
}

#jobs li {
  border-bottom: 1px solid #999;
  padding: 0 0 10px 15px;
  border-radius: 4px;
  margin-bottom: 30px;
}

#jobs li:last-child {
  border: none;
  margin-top: -10px;
  margin-bottom: 0;
}

#jobs button {
  background-color: #47cf73;
}

/*==========
  FOOTER
=============*/
footer {
  height: 170px;
  padding: 40px 0;
  background-color: #000000;
}

footer > div {
  position: relative;
}

footer > div div:nth-child(1) {
  position: absolute;
  left: 0;
}

footer > div div:nth-child(1) ul {
  display: flex;
  left: 0px;
}

footer > div div:nth-child(1) ul li {
  margin-right: 8px;
  color: red;
}

footer > div div:nth-child(1) ul h4 {
  margin-right: 16px;
  color: #fff;
}

footer > div div:nth-child(2) {
  position: absolute;
  right: 0px;
}
/*# sourceMappingURL=main.css.map */