//base page backgrounds
$bg-darker: #131417;
$bg-dark: #1e1f26;
$animated-boxes: #1d1e22;
$gradient-grey: linear-gradient(109.61deg,#4c4f5a 4.26%,#202125 84.84%);
$search-bg: #252830;

//buttons
$button-green-bg: #47cf73;
$button-grey-bg: #444857;

//font colour
$whitish: #c7c9d3;
$white-text: #fff;
$light-blue-text: #76daff;
$dark-blue-text: #0ebeff;
$black-text: #000000;
