@import "./_fonts";
@import "./_colors";
@import "./_typography";
@import "./_responsive_mixins";

html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $white-text;
}

li {
  list-style: none;
}

body {
  background-color: $bg-darker;
  color: $white-text;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.dark-blue-text {
  color: $dark-blue-text;
}

.light-blue-text {
  color: $light-blue-text;
}

button {
  padding: 10px 16px;
  margin-right: 10px;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: normal;
}

h1 {
  font-family: "Telefon Black", Sans-Serif;
  line-height: 1.1;
  font-size: 3rem;
}

h2 {
  font-size: 1.8rem;
  font-family: "Telefon Black", sans-serif;
}

h3 {
  font-size: 1.4rem;
  font-weight: bold;
}

/* =============
     TOP BAR
  ============= */
#top-bar {
  height: 70px;
  padding: 10px;
  margin-bottom: 70px;
  padding: 1rem;
  padding-right: 0;

  form {
    display: flex;
    

    [type="text"] {
      height: 40px;
      width: 100%;
      margin-right: .5rem;
      border-radius: 5px;
      border: 0px solid;
      padding: 0.4em;
      font-weight: bold;
      font-size: 1.3rem;
      text-indent: 2em;
      background-color: $search-bg;
    }
    
    [placeholder='Search Codepen...'] {
      color: $white-text !important;
    }
    
    &::placeholder {
      color: $white-text;

    }

    button:nth-of-type(1) {
      color: $black-text;
      background-color: $button-green-bg;
    }

    button:nth-of-type(2) {
      color: #fff;
      background-color: $button-grey-bg;
    }
  }
}

/* ===========
      INTRO
   ===========*/
#intro {
  height: 500px;
  display: grid;
  padding: 45px 0;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

#not-media {
  color: inherit;

  p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: $whitish;

    strong {
      color: $white-text;
    }
  }

  button {
    background-color: $button-green-bg;
  }
}

#media {
  color: inherit;
  position: relative;

  img {
    position: absolute;
    width: 600px;
    bottom: -480px;
    right: -90px;
    z-index: -10;
  }
}

#back {
  width: 90%;
  height: 400px;
  border-radius: 15px;
  position: absolute;
  right: 0;
  background: $gradient-grey;
}

.animated {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  background-color: $animated-boxes;
  position: absolute;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  z-index: 10;;
}

#front {
  div:nth-child(1) {
    top: -20px;
    right: 20px;
  }

  div:nth-child(2) {
    top: 130px;
    right: -30px;
  }

  div:nth-child(3) {
    top: 280px;
    right: 40px;
  }
}

/* ==========
    FIRST ROW
 ============ */
#first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;
  padding: 45px 0;

  .finz {
    background-color: #2c303a;
    border-radius: 5px;
    height: auto;
    padding: 20px 30px;
    margin: 30px 0;
    position: relative;

    img {
      transform: translateY(-50%);
      width: 75px;
      height: 75px;
      background: $bg-darker;
      padding: 5px;
      border-radius: 10px;
    }

    // h2 {
    //   margin-bottom: 15px;
    // }

    p {
      margin-bottom: 15px;
    }
  }

  button {
    background-color: $button-grey-bg;
    color: $whitish;
  }
}

/* =========
    3 x 2 GRID [[[[[[[[[[[**  HIDDEN  **]]]]]]]]]]]]]]]
 ========== */

#eg {
  visibility: hidden; //TO
  position: absolute; //MAKE IT
  top: -10000px; //HIDDEN

  #user-work {
    display: grid;
    // grid-template-columns: repeat(3, 1fr); //mine
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); //theirs
    grid-gap: 4rem 3rem;
    background-color: red;
    // height: 600px;

    .sample {
      height: 300px;
      background-color: blue;

      h3 {
        text-align: left;
      }

      p {
        text-align: left;
      }
    }

    .sample:nth-child(1) {
      background-color: $bg-darker; //DELETE
    }
  }
}

/* =============
    EXPLORING [[[[[[[[[[[**  HIDDEN  **]]]]]]]]]]]]]]]
================ */
#exploring {
  position: absolute; //HIDE
  visibility: hidden; //IT
  height: 750px;
  margin-bottom: 70px;
  padding: 10px 30px;
  overflow: hidden;

  & > p {
    text-align: center;
  }

  & > p:first child {
    font-size: 1.8rem;
    color: inherit;
  }

  ul {
    width: 30%;
    float: left;
    height: 610px;
  }

  h6 {
    font-weight: 700;
    font-size: 1.1rem;
  }

  /* The first list item */
  li:first-child {
    background-color: #131418;
    border-radius: 5px;
    /* box-sizing: content-box; */
    padding: 15px 20px;
    width: 100%;
    margin: 0 0 0 -10px;
    padding-bottom: 1px;
  }

  li:first-child h6 {
    padding: 0;
    margin: 0;
  }

  #ss {
    width: 100%;
  }

  #desktop {
    float: right;
    width: 50%;

    img {
      width: 80%;
    }
  }
}

#explore {
  color: inherit;
  /* another placeholder */
}

/*=======================
  FRAMEWORKS & LIBRARIES
=========================*/
#libraries {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.5em;
  padding: 75px 0;
  position: relative;

  .lib {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: $bg-dark;
    padding: 45px 20px 20px 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;
    z-index: 100;

    h3 {
      position: absolute;
      text-align: center;
      width: 100%;
      left: 0;
      bottom: 0.6rem;
    }

    img {
      width: 100%;
    }
  }

  #lastlib {
    padding: 0;
    text-align: left;
    background-color: $bg-darker;
    position: relative;

    p {
      text-align: left;
      // margin-bottom: 10px;
    }

    span {
      position: absolute;
      bottom: 0;
      font-size: 1.1rem;
      font-weight: bold;
    }
  }

  img:last-child {
    position: absolute;
    width: 900px;
    left: -100px;
    bottom: -70px;
    z-index: -10;
  }
}

/*==========
   TEAM
===========*/
#teamwrap {
  padding: 45px 0;
  #team {
    height: auto;
    text-align: center;
    padding: 45px;
    border-radius: 5px;
    background-color: $bg-dark;

    p:first-of-type {
      width: 45%;
      text-align: center;
      margin: 0 auto 20px auto;
    }

    p:last-of-type {
      margin-top: 35px;
    }

    #companies {
      display: flex;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;

      img {
        // margin-right: 10px;
        padding: 15px;
      }
    }

    button {
      background-color: $button-green-bg;
    }
  }
}

/*=============
    JOBS
=============
*/
#jobs {
  // height: 500px;
  overflow: hidden;
  padding: 45px 0;

  h5 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  p {
    padding: 0 0 5px 0;
  }

  & div:nth-child(1) {
    float: left;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h5 {
      margin-top: 25%;
    }
  }

  & div:nth-child(2) {
    float: right;
    width: 45%;
  }

  li {
    border-bottom: 1px solid #999;
    padding: 0 0 10px 15px;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  li:last-child {
    border: none;
    margin-top: -10px;
    margin-bottom: 0;
  }

  button {
    background-color: $button-green-bg;
  }
}

/*==========
  FOOTER
=============*/

footer {
  height: 170px;
  padding: 40px 0;
  background-color: $black-text;

  & > div {
    position: relative;

    div:nth-child(1) {
      position: absolute;
      left: 0;

      ul {
        display: flex;
        left: 0px;

        li {
          // display: inline-block;
          margin-right: 8px;
          // color: $whitish !important;
          color: red;
        }

        h4 {
          margin-right: 16px;
          color: $white-text;
        }
      }
    }

    div:nth-child(2) {
      position: absolute;
      right: 0px;
    }
  }
}
