@import "./_fonts";
@import "./_colors";
@import "./_typography";
@import "./_responsive_mixins";

html {
  font-family: "Lato", "Lucida Grande", "Lucida Sans Unicode", Tahoma,
    Sans-Serif;
  line-height: 1.5;
  font-size: 15px;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $white-text;
}

li {
  list-style: none;
}

body {
  background-color: $bg-darker;
  // color: $white-text;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.dark-blue-text {
  color: $dark-blue-text;
}

.light-blue-text {
  color: $light-blue-text;
}

button {
  padding: 10px 16px;
  margin-right: 10px;
  line-height: 1.2;
  border: 1px solid transparent;
  border-radius: 4px;
  font-weight: 700;
}

h1 {
  font-family: 'Telefon Black', sans-serif;
  line-height: 1.1;
  font-size: 3rem;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.2;
  margin-bottom: 10px;
  font-weight: normal;
}

/* =============
     TOP BAR
  ============= */
#top-bar {
  height: 70px;
  padding: 10px;
  margin-bottom: 70px;

  form {
    display: flex;

    [type="text"] {
      height: 40px;
      width: 80%;
      border-radius: 5px;
      border: 0px solid;
      padding: 0.4em;
    }

    // button {
    //   height: 40px;
    //   width: 8%;
    //   margin-left: 1%;
    //   display: inline-block;
    // }

    button:nth-child(3) {
      color: #fff;
      background-color: $button-grey-bg;
    }
  }
}

/* ===========
      INTRO
   ===========*/
#intro {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 2em;
}

#not-media {
  // float: left;
  // width: 45%;
  color: inherit;
}

#media {
  // float: right;
  // width: 45%;
  color: inherit;
  position: relative;
}

#back {
  width: 90%;
  height: 400px;
  border-radius: 15px;
  position: absolute;
  right: 0;
  background-color: #4c4f5a;
}

.animated {
  width: 300px;
  height: 140px;
  border-radius: 15px;
  background-color: #1d1e22;
  position: absolute;
  z-index: 10;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5);
  z-index: 10;
}

#front {
  div:nth-child(1) {
    top: -20px;
    right: 20px;
  }

  div:nth-child(2) {
    top: 130px;
    right: -30px;
  }

  div:nth-child(3) {
    top: 280px;
    right: 40px;
  }
}

/* ==========
    FIRST ROW
 ============ */
#first-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2em;

  .finz {
    background-color: #2c303a;
    border-radius: 5px;
    height: 300px;
    // padding: 30px 20px 50px 20px;
    padding: 0px 20px 50px 20px;
    margin-bottom: 1em;
    position: relative;

    img {
      transform: translateY(-50%);
      margin-bottom: 10px;
      width: 75px;
      height: 75px;
      background: $bg-darker;
      padding: 5px;
      border-radius: 10px;
    }

    h4 {
      margin-bottom: 15px;
    }

    p {
      margin-bottom: 15px;
    }

  }
}

/* =========
    3 x 2 GRID [[[[[[[[[[[**  HIDDEN  **]]]]]]]]]]]]]]]
 ========== */
 
#eg {
  visibility: hidden; //TO
  position: absolute; //MAKE IT
  top: -10000px;   //HIDDEN

  #user-work {
    display: grid;
    // grid-template-columns: repeat(3, 1fr); //mine
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr)); //theirs
    grid-gap: 4rem 3rem;
    background-color: red;
    // height: 600px;

    .sample {
      height: 300px;
      background-color: blue;

      h3 {
        text-align: left;
      }

      p {
        text-align: left;
      }
    }

    .sample:nth-child(1) {
      background-color: $bg-darker; //DELETE
    }
  }
}


/* =============
    EXPLORING [[[[[[[[[[[**  HIDDEN  **]]]]]]]]]]]]]]]
================ */
#exploring {
  position: absolute;  //HIDE
  visibility: hidden;  //IT
  height: 750px;
  margin-bottom: 70px;
  padding: 10px 30px;
  overflow: hidden;

  & > p {
    text-align: center;
  }

  & > p:first child {
    font-size: 1.8rem;
    color: inherit;
  }

  ul {
    width: 30%;
    float: left;
    height: 610px;
  }

  h6 {
    font-weight: 700;
    font-size: 1.1rem;
  }

  /* The first list item */
  li:first-child {
    background-color: #131418;
    border-radius: 5px;
    /* box-sizing: content-box; */
    padding: 15px 20px;
    width: 100%;
    margin: 0 0 0 -10px;
    padding-bottom: 1px;
  }

  li:first-child h6 {
    padding: 0;
    margin: 0;
  }

  #ss {
    width: 100%;
  }

  #desktop {
    float: right;
    width: 50%;

    img {
      width: 80%;
    }
  }
}

#explore {
  color: inherit;
  /* another placeholder */
}

/*=======================
  FRAMEWORKS & LIBRARIES
=========================*/
#libraries {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1.5em;
  margin-bottom: 30px;

  .lib {
    display: flex;
    flex-direction: column;
    height: 250px;
    background-color: $bg-dark;
    padding: 45px 20px 20px 20px;
    border-radius: 5px;
    position: relative;
    text-align: center;

    p {
      position: absolute;
      text-align: center;
      width: 100%;
      left: 0;
      bottom: 1rem;
    }

    img {
      width: 100%;
    }
  }

  .lib:last-child {
  
    p {
      position: relative;
      text-align: left;
      margin-top: 10px; //DELETE
    }
  }
}

/*==========
   TEAM
===========*/
#team {
  height: auto;
  text-align: center;
  padding: 30px;
  border-radius: 5px;
  margin-top: 120px;
  background-color: $bg-dark;

  p:first-of-type {
    width: 45%;
    text-align: center;
    margin: 0 auto 20px auto;
  }

  p:last-of-type {
    margin-top: 35px;
  }

  #companies {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;

    img {
      // margin-right: 10px;
      padding: 15px;
    }
  }
}

/*=============
      JOBS
  =============
*/
#jobs {
  height: 500px;
  // padding: 45px 0; //DO THIS FOR THE OTHER SECTIONS O!!!!!!

  h5 {
    font-size: 1.4rem;
    font-weight: bold;
  }

  p {
    padding: 0 0 5px 0;
  }

  & div:nth-child(1) {
    float: left;
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h5 {
      margin-top: 25%;
    }
  }

  & div:nth-child(2) {
    float: right;
    width: 45%;
  }

  li {
    border-bottom: 1px solid #999;
    padding: 0 0 10px 15px;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  li:last-child {
    border: none;
    margin-top: 15px;
  }
}

/*==========
  FOOTER
=============*/

footer {
  height: 200px;
  padding: 50px 0;
  background-color: $black-text;

  & > div {
    position: relative;

    div:nth-child(1) {
      position: absolute;
      left: 0;

      ul {
        display: flex;
        left: 0px;

        li {
          display: inline-block;
          margin-right: 8px;
        }

        li:nth-child(1) {
          margin-right: 16px;
        }
      }
    }

    div:nth-child(2) {
      position: absolute;
      right: 0px;
    }
  }
}
